trigger:
  branches:
    include:
      - main

pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: build
    displayName: 'Build Stage'
    jobs:
      - job: BuildJob
        displayName: 'Build and Package'
        steps:
          # 1. Setup the Python version on this agent
          - task: UsePythonVersion@0
            displayName: 'Set Python Version 3.11'
            inputs:
              versionSpec: '3.11'

          # 2. Install dependencies (standard script is fine for this)
          - script: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Install dependencies'

          # 3. Zip the code (on the same machine)
          - task: ArchiveFiles@2
            displayName: 'Zip files'
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
              replaceExistingArchive: true

          # 4. Upload to DevOps server so the Release Pipeline can see it
          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifact'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
              ArtifactName: 'drop'
              publishLocation: 'Container'