trigger:
  branches:
    include:
      - main
  paths:
    exclude:
      - azure-pipelines.yml
      
pool:
  vmImage: 'ubuntu-latest'

stages:
  - stage: build
    displayName: 'Build Stage'
    jobs:
      - job: BuildJob
        displayName: 'Build and Package'
        steps:
          # 1. Setup the Python version
          - task: UsePythonVersion@0
            displayName: 'Set Python Version 3.11'
            inputs:
              versionSpec: '3.11'

          # 2. Install dependencies locally (for validation)
          - script: |
              python -m pip install --upgrade pip
              pip install -r requirements.txt
            displayName: 'Install dependencies'

          # 3. Zip the code - EXCLUDING pipeline files
          - task: ArchiveFiles@2
            displayName: 'Zip files'
            inputs:
              rootFolderOrFile: '$(System.DefaultWorkingDirectory)'
              includeRootFolder: false
              archiveType: 'zip'
              archiveFile: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
              replaceExistingArchive: true
              verbose: true

          # 4. Publish artifact
          - task: PublishBuildArtifacts@1
            displayName: 'Publish Artifact'
            inputs:
              PathtoPublish: '$(Build.ArtifactStagingDirectory)/$(Build.BuildId).zip'
              ArtifactName: 'drop'
              publishLocation: 'Container'

  - stage: Deploy
    displayName: 'Deploy Stage'
    dependsOn: build
    condition: succeeded()
    jobs:
      - deployment: DeployJob
        environment: 'production'
        pool:
          vmImage: 'ubuntu-latest'
        strategy:
          runOnce:
            deploy:
              steps:
                # Stop the function app before deployment
                - task: AzureAppServiceManage@0
                  displayName: 'Stop Azure Function App'
                  inputs:
                    azureSubscription: 'Azure subscription 1(f2f1d6df-9422-48cb-abf1-0a4eb095ad4a)'
                    Action: 'Stop Azure App Service'
                    WebAppName: 'myFunctionAppDeployment'
                
                # Deploy the function app
                - task: AzureFunctionApp@2
                  displayName: 'Deploy Azure Function App'
                  inputs:
                    connectedServiceNameARM: 'Azure subscription 1(f2f1d6df-9422-48cb-abf1-0a4eb095ad4a)'
                    appType: 'functionAppLinux'
                    appName: 'myFunctionAppDeployment'
                    package: '$(Pipeline.Workspace)/drop/$(Build.BuildId).zip'
                    runtimeStack: 'PYTHON|3.11'
                    deploymentMethod: 'zipDeploy'
                    appSettings: '-ENABLE_ORYX_BUILD true -SCM_DO_BUILD_DURING_DEPLOYMENT true -FUNCTIONS_WORKER_RUNTIME python'
                    enableSyncTriggers: false

                # Start the function app after deployment
                - task: AzureAppServiceManage@0
                  displayName: 'Start Azure Function App'
                  inputs:
                    azureSubscription: 'Azure subscription 1(f2f1d6df-9422-48cb-abf1-0a4eb095ad4a)'
                    Action: 'Start Azure App Service'
                    WebAppName: 'myFunctionAppDeployment'